html {
  /* background image from http://hdw.eweb4.com/out/1133613.html */
  background-image: url('../images/background.jpg')
}
.container {
  margin: 0 auto;
  width: 300px;
  padding: 15px;
  border: 2px solid blue;
}
.inputItem {
    margin: 5px;
    width: 100%;
}
p {
    margin: 2px;
    width: 100%;
    color: white;
}
input[type="text"], input[type="email"] {
    width: 100%;
}
button {
    width: 100px;
    height: 30px;
}
